---
title: Oops! Not Found
layout: layout
permalink: /404.html
---

<div class="flex justify-center my-32">
    <img src="/assets/img/not-found.svg" class="max-w-full" alt="page-not-found" width="800">
</div>