---
layout: layout.liquid
---
<section>
    <div class="max-w-screen-xl mx-auto my-8">
        <div class="grid lg:grid-cols-4 gap-8 relative">
            <div class="lg:col-span-3 grid gap-8">
                {{content}}
            </div>
            {% render 'sidebar' %}
        </div>
    </div>
</section>