---
layout: layout.liquid
---
<section>
    <div class="container my-8">
        <div class="grid lg:grid-cols-4 gap-8 relative">
            <div class="lg:col-span-3">
                <div class="grid gap-8">
                    {{content}}
                </div>
            </div>
            {% render 'sidebar' %}
        </div>
    </div>
</section>