<header class="bg-gray-50 w-full shadow">
    <div class="container mx-auto flex flex-wrap py-5 flex-col md:flex-row items-center">
        <a href="/" class="font-bold">dhruvang.com</a>
        <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
            <a class="mr-5 font-semibold text-black" href="/">home</a>
            <a class="mr-5 font-semibold text-black" href="/about">about</a>
            <a class="mr-5 font-semibold text-black" href="/blog">blog</a>
            <a class="mr-5 font-semibold text-black"
                href="https://drive.google.com/file/d/1JqX1lxDO6vEObWCgiaFd_1hvimfJvRkt/view" target="_blank">resume</a>
        </nav>
        <div>
            <a href="mailto:dhruvangg@gmail.com">
                <svg class="h-5 w-5" aria-hidden="true">
                    <use href="#email"></use>
                </svg>
            </a>
        </div>
    </div>
</header>