<header class="bg-gray-50 w-full shadow relative" x-data="{ open: false }">
    <button class="fixed top-5 right-5 z-10 hamburger hamburger--squeeze sm:hidden" type="button" x-on:click="open = ! open" :class="open ? 'is-active' : ''">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
    <div class="max-w-screen-xl mx-auto flex flex-wrap py-5 sm:flex-row flex-col md:flex-row items-center">
        <a href="/" class="font-bold">dhruvang.com</a>
        <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center sm:static sm:w-auto sm:flex-row z-10
        absolute flex-col top-full bg-gray-50 w-full transition-all duration-300 ease-in-out"
            :class="open ? 'right-0' : '-right-full'">
            <a class="mr-5 font-semibold text-black sm:p-0 p-4" href="/">home</a>
            <a class="mr-5 font-semibold text-black sm:p-0 p-4" href="/about">about</a>
            <a class="mr-5 font-semibold text-black sm:p-0 p-4" href="/blog">blog</a>
            <a class="mr-5 font-semibold text-black sm:p-0 p-4"
                href="https://drive.google.com/file/d/1JqX1lxDO6vEObWCgiaFd_1hvimfJvRkt/view" target="_blank">resume</a>
        </nav>
        <div class="hidden sm:flex">
            <a href="mailto:dhruvangg@gmail.com" aria-label="send email to dhruvangg@gmail.com">
                <svg class="h-5 w-5" aria-hidden="true">
                    <use href="#email"></use>
                </svg>
            </a>
        </div>
    </div>
</header>