<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dhruvang</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,500;6..12,700&family=Roboto+Mono&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ '/styles/main.css' | url }}">
    <script src="https://cdn.tailwindcss.com?plugins=typography"></script>
    <script>
        tailwind.config = {
            theme: {
                container: {
                    center: true,
                    maxWidth: '1200px'
                },
                listStyleType: {
                    square: 'square',
                }
            }
        }
    </script>
    {% render 'svgs' %}
</head>

<body>
    {% render 'header' %}
    <main>
        {{ content }}
    </main>
    {% render 'footer' %}
</body>

</html>