---
layout: layout.liquid
---
<div class="bg-gray-100">
    <div class="container max-w-screen-lg py-16">
        {% for topic in topics %}
        <a
            class="border relative px-4 py-2 mr-4 border-black before:content-[''] before:absolute before:w-1 before:h-full before:top-1 before:-left-1 before:bg-black after:content-[''] after:absolute after:h-1 after:w-full after:-bottom-1 after:-left-1 after:bg-black">
            {{topic}}
        </a>
        {% endfor %}
        <h1 class="text-6xl font-bold my-8">{{ title }}</h1>
        <p class="font-semibold">{{ date | date: "%b %d, %Y" }}</p>
        <ul class="flex mt-6">
            <li class="pr-8">
                <svg class="h-5 w-5" aria-hidden="true">
                    <use href="#twitter"></use>
                </svg>
            </li>
            <li class="pr-8">
                <svg class="h-5 w-5" aria-hidden="true">
                    <use href="#linkedin"></use>
                </svg>
            </li>
            <li class="pr-8">
                <svg class="h-5 w-5" aria-hidden="true">
                    <use href="#whatsapp"></use>
                </svg>
            </li>
            <li class="pr-8">
                <svg class="h-5 w-5" aria-hidden="true">
                    <use href="#email"></use>
                </svg>
            </li>
            <li class="pr-8">
                <svg class="h-5 w-5" aria-hidden="true">
                    <use href="#facebook"></use>
                </svg>
            </li>
        </ul>
    </div>

</div>
<div class="border-t-2 border-black text-center mb-8">
    <div class="relative -top-[10px] flex items-center justify-center content-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="16.395" height="20.284" viewBox="0 0 16.395 20.284">
            <g data-name="Group 197" transform="translate(-689.803 -586.663)">
                <rect data-name="Rectangle 362" width="7" height="13" transform="translate(692.403 591.991) rotate(-21)"
                    fill="#fff"></rect>
                <rect data-name="Rectangle 198" width="0.999" height="19.965"
                    transform="translate(690.449 587.668) rotate(-21.05)" stroke="#000" stroke-width="1"></rect>
                <rect data-name="Rectangle 199" width="0.999" height="19.965"
                    transform="translate(697.448 587.668) rotate(-21.05)" stroke="#000" stroke-width="1"></rect>
            </g>
        </svg>
    </div>
</div>
<div class="prose lg:prose-xl mx-auto my-8">
    {{ content }}
</div>