---
layout: blog.liquid
title: Git | Dhruvang Gajjar
description: All the posts related to Git.
eleventyExcludeFromCollections: true
---
<div class="grid gap-8">
    {% for post in collections.git reversed %}
    {% render 'card' post:post %}
    {% endfor %}
</div>